.ext-content {
    background-color: #FF9553;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ext-name {
    color: black;
    text-align: center;
}

.setting-content {
    background-color: white;
    border-radius: 10px;
    padding: 14px;
    height: 400px;
}

.setting-content p {
    color: black;
}

.sentiment-level-container {
    margin-bottom: 28px;
}

.sentiment-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.output-format-container label{
    color: black;
    display: flex;
    flex-direction: column;
}

.output-format-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emotive-value {
    text-align: center;
    font-size: 16px;
    border: black solid 2px;
    border-radius: 100px;
    padding: 4px;
}
