.ext-content {
    background-color: #FF9553;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.ext-name {
    color: black;
    text-align: center;
}

.setting-content {
    background-color: white;
    border-radius: 10px;
    padding: 14px;
    height: 260px;
    display: flex;
    flex-direction: column;
    /* Perhaps don't use this */
    /* justify-content: space-evenly; */
}

.feature-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sentiment-slider {
    margin-left: 5px;
    margin-right: 5px;
}

.sentiment-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;
}

.output-format-container label{
    display: flex;
    flex-direction: column;
}

.output-format-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #FF9553; /* Sets the accent color to red */
}

.emotive-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    border: black solid 2px;
    border-radius: 100px;
    padding: 4px;
}

.grey-btn {
    background-color: #D9D9D9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    margin-top: 12px;
    border-color: transparent;
    color: black;
}

.grey-btn:hover {
    cursor: pointer;
    background-color: #FF9553;
}

.grey-btn:active {
    box-shadow: 3px 3px 5px #D9D9D9;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-status {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

@media (prefers-color-scheme: dark) {
  .setting-content {
    background-color: #242424; /* or another dark shade */
  }
}