/* h1{
    color: rgb(0, 0, 0);
    text-align: right;
    margin: 5px;
} */

#popup{
    background-image: url("./organisation-logo.png");
    background-size: contain; /* scales image to button size */
    width: 40px;
    height: 40px;
    /* background-color: #FF9553; */
    /* padding: 5px; */
    position: fixed;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    border-color: white;
    /* color: transparent;
    font-weight: bold; */
}
